@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(229, 229, 229) !important;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

div {
  white-space: pre-wrap;
}

[type="text"], input:where(:not([type])), [type="email"], [type="url"], [type="password"], 
[type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], 
[type="tel"], [type="time"], [type="week"], [multiple], textarea, select {
  font-size: 12px !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px !important;;
  height: 30px;
  padding: 5px;
}

[type="text"]:focus {
  --tw-ring-color: unset;
}

#inner_content {
  margin: 20px auto 20px auto;
  max-width: 1140px;
}












#latest_submissions, #submissions {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}



#latest_submissions #heading,
#submissions #heading {
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}
#latest_submissions table,
#submissions table {
  width: 100%;
  /* background-color: #FFFFFF; */
}

#latest_submissions table tr th,
#submissions table tr th {
  font-weight: 700;
  text-align: left;
}



#small_title {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

#pillar_start_user {
  padding-bottom: 20px;
  /* border-bottom: 2px solid hsla(0,0%,83%,.685); */
}

#pillar_key_information {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

#pillar_key_information_text {
  /* background-color: white; */
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.57;
  padding: 20px 20px 10px;
  text-align: left;
  width: 100%;
}

#pillar_key_information_text p {
  margin-bottom: 1rem;
  margin-top: 0;
}

#pillar_start_button {
  align-content: end;
  padding-bottom: 50px;
  padding-top: 10px;
}

#inprogress_content {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;
}

#menu {
  width: 277px;
  align-items: flex-start;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 19px;
  padding: 25px;
  min-height: 510px;
}

#menu #items {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

#menu #items .leftBarItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#inprogress_right_panel {
  /* background-color: white; */
  min-height: 510px;
  padding: 25px 25px 70px;
  position: relative; 
  width: 840px;
}

#inprogress_right_panel #question_heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
  white-space: pre-line;
}

#inprogress_right_panel #question_description {
  line-height: 16px;
  margin-bottom: 25px;
}

#inprogress_right_panel #question_description ul,
#inprogress_right_panel #question_description p {
  padding: revert;
  margin: revert;
  list-style: disc;
}

 #input_field #label {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  margin-bottom: 5px;
}

#input_field input,
#input_field textarea {
  width: 355px;
}

#inprogress_right_panel #input_field #error {
  margin: 5px 0 20px;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  top: 2px;
}

#inprogress_right_panel #save_message {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

#inprogress_right_panel #default_action {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#inner_content #review_responses {
  padding-top: 20px;
  padding-bottom: 20px;
}

#inner_content #review_actions {
  padding-bottom: 20px;
}

#inner_content #review_responses #response {
  /* background-color: white; */
  /* border: 2px solid #d9d9d9; */
  margin-left: 0;
  margin-right: 0;
  min-height: 70px;
  padding: 20px;
  word-break: break-word;
  white-space: pre-line;
}

#submission_status {
  /* background-color: #FFFFFF; */
  border-radius: 5px;
  display: inline-flex;
  font-weight: 700;
  padding: 10px 15px 10px 18px;
  width: fit-content;
}

#task_list, #approvals_list {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

#breadcrumb::before {
  content: ' / ';
}
